lazy-lock.json
undo/
.emacs.d/*
!.emacs.d/Dockerfile
!.emacs.d/lisp
!.emacs.d/site-list
!.emacs.d/_config.yml
!.emacs.d/banner.txt
!.emacs.d/custom-example.el
!.emacs.d/early-init.el
!.emacs.d/init-mini.el
!.emacs.d/init.el
!.emacs.d/logo.png
